
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: medium;
    width: 800px;
    margin: 0 auto;
}

#logo img {
    height: 180px;
    width: 180px;
    float: left;
}

h1 {
    font-size: 34px;
    font-weight: bolder;
    font-style: italic;
}

#title table {
    width:620px
}

#title h3 {
    font-size: 14pt;
    margin-top: -2px;
}

#title table td {
    padding-top: 10px;
    width: 50%;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}

#title table tfoot td {
    font-style: italic;
    font-size: 16px;
}

#text-body {
    clear: both;
    padding: 10px 0px 0px 0px
}

.tabs-border {
    height: 10px;
    width: 100%;
    background-color: black;
}

.tab-content {
    padding: 10px;
    margin-top: 50px;
}

.navbar-nav {
    background-color: #0099FF;
    height: 50px !important;
    width: 100%;
    border-width: 10px 0px 10px 0px;
    border-color: black;
    border-style: solid;
}

.navbar-nav li {
    border-left: 1px solid #0065A6;
    padding: 0 15px 0 15px;
}

.navbar-nav li:last-child {
    border-right: 1px solid #0065A6;
}

#text-body h4 {
    color: #0099FF;
    text-decoration: underline;
    font-size: 18pt;
    font-weight: bold;
}

#text-body #services ul {
    padding: 0;
    list-style-type: none;
    font-size: 12pt
}

#text-body #contact-us * {
    text-align: center;
}

#services h4 {
    padding-top: 8px;
}

.blue-text {
    color: #0099FF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 16pt;
}

.blue-highlight {
    background-color: #0099FF;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-weight: bold;
    font-size: 14pt;
}

a {
    color: black;
    clear: both;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}

.tab-content img {
    float: right;
    display: inline;
    margin: 20px;
}

.picture-table {
    float: right;
    padding: 0px;
    border-collapse: collapse;
}

.picture-table td, .picture-table td img {
    padding: 2px;
    margin: 0px;
}

#about-us ul {
    list-style: none;
    text-align: center;
    float: right;
    font-style: italic;
    padding: 10px;
}

#about-us ul lh {
    color: red;
}

#about-us ul li {
    margin-top: 10px;
}

#about-us ul li:before {
  content:'\25e6';
  margin-right:5px;
  vertical-align:middle;
  font-size:1.5em;
  line-height:0;
}

#projects td {
    padding-left: 25px;
}

#footer {
    background-color: #0099FF;
    clear: both;
    text-align: center;

    border-style: solid;
    border-color: black;
    border-width: 8px 0px 8px 0px;
}

#careers ul:first-of-type {
    font-weight: bold;
}